<!doctype html>
<html lang="en">
<head>
    <%- include('./components/head.ejs') %>
</head>
<body>
<%- include('./components/header.ejs') %>
<main class="d-flex flex-column" style="text-align: center; margin: auto;">
    <div class="box card-img-top" style="width: 240px!important; height: 240px!important; margin: 50px auto 20px auto;">
        <img src="<%=title_img %>" alt="소소식탁" class="box-img d-inline-block align-text-top">
    </div>
    <h3 class="card-title"><%=title %></h3>
    <p>상단 navbar를 통해 페이지를 이동해보세요</p>
</main>
<%- include('./components/footer.ejs') %>
</body>
</html>